$font-family: "Poppins", "Arial", sans-serif;
$font-size: 15px;
$font-weight: 500;
$line-height: 26px;
$text-color: #9e9aa8;
$bg-color: #eff1f7;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $text-color;
  background-color: $bg-color;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.site-main {
  flex-grow: 1;
}

/* Site-header */
.site-header {
  background-color: #fff;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.site-header__first-wrapper {
}

.logo__img {
  width: 120px;
  height: 33px;
}

.sitenav {
  display: none;
}

.sitenav__list {
}

.sitenav__item {
}

.sitenav__link {
}

.site-header__link-wrapper {
  display: none;
}

.site-header__link {
}

.navbar-btn {
  display: inline-block;
  width: 24px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Hero */
.hero {
  background-color: #fff;
  background-image: url("../images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: top 23px right -145px;
  background-size: 480px 340px;
}

.hero__inner {
  position: relative;
  padding-top: 400px;
}

.hero__info {
  padding-bottom: 168px;
  text-align: center;
}

.info-hero {
}

.info-hero__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -1.05px;
  color: #34313d;
}

.info-hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.122727px;
  color: #9e9aa8;
}

.starter-btn {
  display: inline-block;
  padding: 14px 40px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: #2bd0d0;
  border-radius: 28px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #9ae3e3;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
}

.site-form {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #3a3054;
  border-radius: 10px;
  background-image: url("../images/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  padding: 6px 13px;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #34313d;
  &::placeholder {
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.12px;
    color: #34313d;
    opacity: 0.5;
  }

  &:focus {
    outline: 2px dotted #9c9ced;
    outline-offset: 2px;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    color: #f46363;
    border-color: #f46363;
  }

  &:not(:placeholder-shown):not(:focus):invalid + .invalid-text {
    display: block;
  }
}

.invalid-text {
  display: none;
  margin-top: 6px;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0818182px;
  color: #f46363;
}

.form-btn {
  margin-top: 16px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  background: #2bd0d0;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  & .navbar__inner {
    max-width: 327px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 24px;
    background-color: #3a3054;
    border-radius: 10px;
    animation-name: bigger;
    animation-duration: 1s;
  }

  @keyframes bigger {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1) rotate(1440deg);
    }
  }

  & .sitenav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgb(158, 154, 168, 25);
  }

  & .sitenav__item {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }

  & .sitenav__link {
    color: inherit;
    text-decoration: none;
  }

  & .site-header__link-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }

  & .site-header__link {
    color: inherit;
    text-decoration: none;
  }

  & .site-header__link:last-child {
    margin-top: 24px;
    padding: 12px 12px 9px;
    background-color: #2bd0d0;
    border-radius: 28px;
  }
}

.navbar-open {
  display: block;
}

/* Statistics */
.statistics {
  margin-top: 160px;
}

.statistics__info {
  margin-bottom: 92px;
  text-align: center;
}

.info-statistics__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.7px;
  color: #34313d;
}

.info-statistics__text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.109091px;
  color: #9e9aa8;
}

.statistics__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 8px;
    height: 100%;
    content: "";
    background-image: url("../images/Rectangle.jpg");
  }
}

.statistics__item {
  position: relative;
  padding: 77px 32px 41px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 92px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: calc(50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 88px;
    height: 88px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url("../images/upstair.svg");
  }

  &:nth-child(2)::before {
    background-image: url("../images/record.svg");
  }

  &:nth-child(3)::before {
    background-image: url("../images/customized.svg");
  }
}

.item-statistics__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #34313d;
}

.statistics__text {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  color: #9e9aa8;
}

/* Boosts */
.boost {
  margin-top: 80px;
  background-image: url("../images/boost-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.boost__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 10px;
}

.boost-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.7px;
  color: #ffffff;
}

/* Site footer */
.site-footer {
  background-color: #232127;
}

.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0;
}

.site-footer__info {
  margin-top: 49px;
  text-align: center;
}

.site-footer__list-wrapper:not(:last-child) {
  margin-bottom: 38px;
}

.site-footer__strong {
  display: inline-block;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.site-footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__item {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #bfbfbf;
  transition: color 0.2s ease;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    color: #2bd0d0;
    transition: color 0.2s ease;
  }
}

.item-footer__link {
  color: inherit;
  text-decoration: none;
}

.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.social-link {
  color: #fff;
  transition: color 0.2s ease;

  &:hover {
    color: #2bd0d0;
    transition: color 0.2s ease;
  }
}

@media only screen and (min-width: 375px) {
  .hero {
    background-size: 500px 340px;
  }

  .info-hero__title {
    font-size: 42px;
    line-height: 48px;
  }

  .info-hero__text {
    margin-bottom: 32px;
  }

  /* Statistics */

  .statistics__info {
    max-width: 415px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 92px;
  }

  .info-statistics__title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 48px;
  }

  .statistics__list {
    max-width: 415px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .item-statistics__title {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 33px;
  }
}

@media only screen and (min-width: 463px) {
  .hero__info {
    max-width: 415px;
    margin-right: auto;
    margin-left: auto;
  }

  .site-form {
    max-width: 415px;
    left: calc(50%);
    transform: translateX(-50%) translateY(50%);
  }
}

@media only screen and (min-width: 576px) {
  .navbar {
    display: none;
  }

  .navbar-btn {
    display: none;
  }

  .site-header__inner {
    padding-top: 28px;
  }

  .site-header__link-wrapper {
    display: block;
    & .site-header__link {
      display: inline-block;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #9e9aa8;
      text-decoration: none;
    }

    & .site-header__link:last-child {
      margin-left: 37px;
      padding: 9px 24px 8px;
      background-color: #2bd0d0;
      border-radius: 28px;
      color: #ffffff;
    }
  }

  .hero__info {
    max-width: 440px;
    padding-bottom: 180px;
  }

  .info-hero__title {
    font-size: 44px;
    line-height: 50px;
  }

  .info-hero__text {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 32px;
  }

  .site-form {
    max-width: 440px;
  }

  .boost {
    margin-top: 90px;
  }

  .boost__inner {
    padding: 80px 10px;
  }

  .boost-title {
    font-size: 32px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 768px) {
  .hero__inner {
    padding-top: 100px;
  }

  .hero__info {
    margin-left: 0;
    text-align: left;
  }

  .info-hero__text {
    font-size: 18px;
    line-height: 30px;
  }

  .starter-btn {
    font-size: 18px;
  }

  .site-form {
    max-width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-label {
    flex-grow: 1;
  }

  .form-btn {
    margin-top: 0;
    margin-left: 24px;
    padding: 10px 10px;
  }

  /* Statistics */

  .statistics {
    margin-top: 180px;
  }

  .statistics__info {
    max-width: 500px;
    margin-bottom: 110px;
  }

  .info-statistics__title {
    margin-bottom: 18px;
    font-size: 35px;
    line-height: 50px;
  }

  .info-statistics__text {
    font-size: 18px;
    line-height: 28px;
  }

  .statistics__list {
    max-width: 500px;
  }

  .item-statistics__title {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 38px;
  }

  .statistics__text {
    font-size: 20px;
    line-height: 30px;
  }

  .boost {
    margin-top: 100px;
  }

  .boost__inner {
    padding: 70px 10px;
  }

  .boost-title {
    font-size: 35px;
    line-height: 55px;
  }

  /* Site footer */
  .site-footer {
    .logo {
      margin-right: 50px;
    }
  }

  .site-footer__inner {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;
  }

  .site-footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 730px;
    flex-grow: 1;
    margin-top: 0;
    text-align: left;
  }

  .site-footer__list-wrapper:not(:last-child) {
    margin-bottom: 0;
  }

  .site-footer__strong {
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #ffffff;
  }

  .site-footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .site-footer__item {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #bfbfbf;
    transition: color 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      color: #2bd0d0;
      transition: color 0.2s ease;
    }
  }

  .item-footer__link {
    color: inherit;
    text-decoration: none;
  }

  .social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-item:not(:last-child) {
    margin-right: 24px;
  }

  .social-link {
    color: #fff;
    transition: color 0.2s ease;

    &:hover {
      color: #2bd0d0;
      transition: color 0.2s ease;
    }
  }
}

@media only screen and (min-width: 800px) {
  .site-header__first-wrapper {
    display: flex;
    align-items: center;
  }

  .sitenav {
    display: block;

    & .sitenav__list {
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: 43px;
      padding: 0;
      list-style-type: none;
    }

    & .sitenav__item {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #9e9aa8;
    }

    & .sitenav__item:not(:last-child) {
      margin-right: 30px;
    }

    & .sitenav__link {
      color: inherit;
      text-decoration: none;
    }
  }

  .hero {
    background-size: 550px 400px;
    background-position: top 40px right -160px;
  }

  .hero__inner {
    padding-top: 120px;
  }

  .info-hero__title {
    margin-bottom: 10px;
    font-size: 48px;
  }

  .site-form {
    padding: 30px;
  }

  .form-btn {
    padding: 10px 12px;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    background-size: auto;
  }

  .hero__inner {
    padding-top: 130px;
  }

  .hero__info {
    max-width: 500px;
    padding-bottom: 190px;
  }

  .info-hero__title {
    margin-bottom: 5px;
    font-size: 62px;
    line-height: 80px;
  }

  .info-hero__text {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 36px;
  }

  .starter-btn {
    font-size: 20px;
    line-height: 30px;
  }

  .site-form {
    padding: 52px 64px;
  }

  .form-input {
    padding: 11px 29px;
    line-height: 36px;
  }

  .form-btn {
    padding: 18px 40px;
    font-size: 20px;
    line-height: 30px;
  }

  /* Statistics */
  .statistics {
    margin-top: 140px;
  }

  .statistics__info {
    max-width: 540px;
    margin-bottom: 100px;
  }

  .info-statistics__title {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 48px;
  }

  .info-statistics__text {
    font-size: 18px;
    line-height: 32px;
  }

  .statistics__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;

    &::before {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 8px;
    }
  }

  .statistics__item {
    max-width: 300px;
    text-align: left;

    &::before {
      left: 76px;
    }
    &:nth-child(1) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      position: relative;
      top: 44px;
      margin-bottom: 0;
    }

    &:nth-child(3) {
      position: relative;
      top: 88px;
    }
  }

  .item-statistics__title {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 33px;
  }

  .statistics__text {
    font-size: 15px;
    line-height: 26px;
  }

  .boost {
    margin-top: 208px;
  }

  .boost__inner {
    padding: 57px 10px;
  }

  .boost-title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1100px) {
  .statistics {
    margin-top: 202px;
  }

  .statistics__item {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1150px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero {
    background-position: top 78px left calc(50% + 430px);
  }

  .hero__inner {
    padding-top: 139px;
  }

  .hero__info {
    max-width: 565px;
    padding-bottom: 222px;
  }

  .info-hero__title {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
  }

  .info-hero__text {
    padding-right: 25px;
    letter-spacing: 0.15px;
  }
}
